<a href="https://colab.research.google.com/github/kvinne-anc/Conflict-and-Climate-Project/blob/main/Asia_Conflict_Temp_DataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
conflict = pd.read_csv('/content/asia_conflicts[1].csv')
conflict.head()

   data_id  iso event_id_cnty  ...  fatalities   timestamp  iso3
0  1732988   50       BNG6787  ...           0  1532986405   BGD
1  1733345  356      IND33731  ...           1  1532986405   IND
2  1733346  356      IND33732  ...           1  1532986405   IND
3  1733347  356      IND33733  ...           0  1532986405   IND
4  1733348  356      IND33734  ...           0  1532986405   IND

[5 rows x 30 columns]

In [ ]:
conflict['country'].values

array(['Bangladesh', 'India', 'India', ..., 'Pakistan', 'Sri Lanka',
       'Myanmar'], dtype=object)

In [ ]:
conflict = conflict[conflict.country != 'Thailand']
conflict

        data_id  iso event_id_cnty  ...  fatalities   timestamp  iso3
0       1732988   50       BNG6787  ...           0  1532986405   BGD
1       1733345  356      IND33731  ...           1  1532986405   IND
2       1733346  356      IND33732  ...           1  1532986405   IND
3       1733347  356      IND33733  ...           0  1532986405   IND
4       1733348  356      IND33734  ...           0  1532986405   IND
...         ...  ...           ...  ...         ...         ...   ...
216673  1531187  586          PAK8  ...          93  1524053974   PAK
216674  1531160  586          PAK9  ...           0  1524053974   PAK
216675  1531188  586          PAK5  ...           0  1524053974   PAK
216677  1673081  144       SRI1298  ...           0  1531145065   LKA
216678  1728203  104          MMR1  ...           0  1532986401   MMR

[213760 rows x 30 columns]

In [ ]:
conflict.shape

(216679, 30)

In [ ]:
conflict.isnull().sum()

data_id                  0
iso                      0
event_id_cnty            0
event_id_no_cnty         8
event_date               0
year                     0
time_precision           0
event_type               0
actor1                   0
assoc_actor_1       151086
inter1                   0
actor2              102747
assoc_actor_2       196163
inter2                   0
interaction              0
region                   0
country                  0
admin1                   1
admin2                 830
admin3               68959
location                 1
latitude                 0
longitude                0
geo_precision            0
source                   0
source_scale             4
notes                    0
fatalities               0
timestamp                0
iso3                     3
dtype: int64

In [ ]:
conflict['location'].nunique()

20065

In [ ]:
conflict['event_date'].nunique()

3130

In [ ]:
conflict['year'].nunique()

9

In [ ]:
#Conflict dataset runs from 2010-2018, contains long/lat
#Temp by City dataset runs from 1743-2013: No other viable datasets could be found for monthly temp by city from 2013-2018
#contains long/lat
#Braith conflict dataset runs from 1990-2001, contains date and long/lat
#Forgotten conflicts dataset runs from various dates depnding on location to present 
#Asia conflicts has the day, month year for conflicts, can change the dt format, drop the day, keep month and year - supplement missing years
#from 2001-2010 with forgotten conflicts data. Add extra rows for months during ongoing conflict to supplement. 
#Trim all datasets down by specific lat/long after rounding, and specific years after that.

In [ ]:
temp = pd.read_csv('/content/GlobalLandTemperaturesByCity[1].csv')
temp.head()

           dt  AverageTemperature  ...  Latitude Longitude
0  1743-11-01               6.068  ...    57.05N    10.33E
1  1743-12-01                 NaN  ...    57.05N    10.33E
2  1744-01-01                 NaN  ...    57.05N    10.33E
3  1744-02-01                 NaN  ...    57.05N    10.33E
4  1744-03-01                 NaN  ...    57.05N    10.33E

[5 rows x 7 columns]

In [ ]:
temp.shape

(8599212, 7)

In [ ]:
temp['City'].nunique()

3448

In [ ]:
temp['Country'].nunique()

159

In [ ]:
temp['dt'].nunique()

3239

In [ ]:
temp.tail()

                 dt  AverageTemperature  ...  Latitude Longitude
8599207  2013-05-01              11.464  ...    52.24N     5.26E
8599208  2013-06-01              15.043  ...    52.24N     5.26E
8599209  2013-07-01              18.775  ...    52.24N     5.26E
8599210  2013-08-01              18.025  ...    52.24N     5.26E
8599211  2013-09-01                 NaN  ...    52.24N     5.26E

[5 rows x 7 columns]

In [ ]:
import pandas as pd

In [ ]:
Braith = pd.read_excel('/content/Braith_II2005_data.xls')
Braith.head()

   #  midid  year  month  ...  lon-deg  lon-min          x          y
0  1   3239  1816      7  ...      -81       49 -81.816667  26.466667
1  2   3320  1817      4  ...       26        6  26.100000  44.433333
2  3   3238  1817      6  ...      -81       56 -81.933333  30.533333
3  4   3321  1817      9  ...       26        6  26.100000  44.433333
4  5    147  1821      1  ...       12       51  12.850000  42.400000

[5 rows x 10 columns]

In [ ]:
Braith.tail()

         #  midid  year  month  ...  lon-deg  lon-min           x          y
1835  1836   4263  2001     10  ...      -82        0   82.000000  15.000000
1836  1837   4305  2001     10  ...       32       10   32.166667   3.583333
1837  1838   4266  2001     12  ...      128        0  128.000000  29.000000
1838  1839   4284  2001     12  ...       18       37   18.616667   7.650000
1839  1840   4320  2001     12  ...       27       49   27.816667  36.600000

[5 rows x 10 columns]