<a href="https://colab.research.google.com/github/kvinne-anc/Conflict-and-Climate-Project/blob/main/MENA_Clean_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
MENA = pd.read_csv('/content/MENA_1.csv')
MENA

        Unnamed: 0       event_date  year   country  latitude  longitude
0                1     28 July 2018  2018     India   17.8635    82.1959
1                2     28 July 2018  2018     India   17.8619    82.1970
2                3     28 July 2018  2018     India   30.7362    76.7884
3                4     28 July 2018  2018     India   32.9413    74.5498
4                5     28 July 2018  2018     India   32.9917    74.9320
...            ...              ...   ...       ...       ...        ...
168405      216671  01 January 2010  2010  Pakistan   33.1500    70.4325
168406      216672  01 January 2010  2010  Pakistan   34.9256    71.5141
168407      216673  01 January 2010  2010  Pakistan   32.5992    70.8511
168408      216674  01 January 2010  2010  Pakistan   25.3942    68.3736
168409      216675  01 January 2010  2010  Pakistan   30.1999    67.0097

[168410 rows x 6 columns]

In [ ]:
MENA['country'].values

array(['India', 'India', 'India', ..., 'Pakistan', 'Pakistan', 'Pakistan'],
      dtype=object)