<a href="https://colab.research.google.com/github/kvinne-anc/Conflict-and-Climate-Project/blob/main/Temp_Clean2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
Temp = pd.read_csv('/content/Temp_C.csv')
Temp

         Unnamed: 0          dt  AverageTemperature  ...  Country Latitude Longitude
0              3239  1743-11-01              10.013  ...   Turkey   40.99N    27.69E
1              3240  1743-12-01                 NaN  ...   Turkey   40.99N    27.69E
2              3241  1744-01-01                 NaN  ...   Turkey   40.99N    27.69E
3              3242  1744-02-01                 NaN  ...   Turkey   40.99N    27.69E
4              3243  1744-03-01                 NaN  ...   Turkey   40.99N    27.69E
...             ...         ...                 ...  ...      ...      ...       ...
2846732     8589600  2013-05-01              19.473  ...    China   28.13N   106.36E
2846733     8589601  2013-06-01              23.670  ...    China   28.13N   106.36E
2846734     8589602  2013-07-01              26.159  ...    China   28.13N   106.36E
2846735     8589603  2013-08-01              25.502  ...    China   28.13N   106.36E
2846736     8589604  2013-09-01                 NaN  ...    China   28.13N   106.36E

[2846737 rows x 8 columns]

In [ ]:
Temp = Temp[Temp.Country != 'Senegal']
Temp

         Unnamed: 0          dt  AverageTemperature  ...  Country Latitude Longitude
0              3239  1743-11-01              10.013  ...   Turkey   40.99N    27.69E
1              3240  1743-12-01                 NaN  ...   Turkey   40.99N    27.69E
2              3241  1744-01-01                 NaN  ...   Turkey   40.99N    27.69E
3              3242  1744-02-01                 NaN  ...   Turkey   40.99N    27.69E
4              3243  1744-03-01                 NaN  ...   Turkey   40.99N    27.69E
...             ...         ...                 ...  ...      ...      ...       ...
2846732     8589600  2013-05-01              19.473  ...    China   28.13N   106.36E
2846733     8589601  2013-06-01              23.670  ...    China   28.13N   106.36E
2846734     8589602  2013-07-01              26.159  ...    China   28.13N   106.36E
2846735     8589603  2013-08-01              25.502  ...    China   28.13N   106.36E
2846736     8589604  2013-09-01                 NaN  ...    China   28.13N   106.36E

[2830921 rows x 8 columns]

In [ ]:
Temp = Temp[Temp.Country != 'South Africa']

In [ ]:
Temp = Temp[Temp.Country != 'Taiwan']

In [ ]:
Temp = Temp[Temp.Country != 'Czech Republic']

In [ ]:
Temp = Temp[Temp.Country != 'Slovenia']

In [ ]:
Temp = Temp[Temp.Country != 'Togo']

In [ ]:
Temp = Temp[Temp.Country != 'Macedonia']

In [ ]:
Temp = Temp[Temp.Country != 'Bangladesh']

In [ ]:
Temp = Temp[Temp.Country != 'El Salvador']

In [ ]:
Temp = Temp[Temp.Country != 'Mongolia']

In [ ]:
Temp = Temp[Temp.Country != 'Sudan']

In [ ]:
Temp = Temp[Temp.Country != 'Gambia']

In [ ]:
Temp = Temp[Temp.Country != 'Lithuania']

In [ ]:
Temp = Temp[Temp.Country != 'Latvia']

In [ ]:
Temp = Temp[Temp.Country != 'Estonia']

In [ ]:
Temp = Temp[Temp.Country != 'Benin']

In [ ]:
Temp = Temp[Temp.Country != 'Gabon']

In [ ]:
Temp = Temp[Temp.Country != 'Djibouti']

In [ ]:
Temp = Temp[Temp.Country != 'Tajikistan']

In [ ]:
Temp = Temp[Temp.Country != 'Eritrea']

In [ ]:
Temp = Temp[Temp.Country != 'Bahrain']

In [ ]:
Temp = Temp[Temp.Country != 'Bosnia And Herzegovina']

In [ ]:
Temp = Temp[Temp.Country != 'Niger']

In [ ]:
Temp = Temp[Temp.Country != 'Equatorial Guinea']

In [ ]:
Temp = Temp[Temp.Country != 'Bahamas']

In [ ]:
Temp = Temp[Temp.Country != 'Croatia']

In [ ]:
Temp = Temp[Temp.City != 'Aligarh']

In [ ]:
Temp = Temp[Temp.City != 'Alappuzha']

In [ ]:
Temp = Temp[Temp.City != 'Akola']

In [ ]:
Temp = Temp[Temp.City != 'Ajmer']

In [ ]:
Temp = Temp[Temp.City != 'Allahabad']

In [ ]:
Temp = Temp[Temp.City != 'Alandur']

In [ ]:
Temp = Temp[Temp.City != 'Ambartu']

In [ ]:
Temp = Temp[Temp.City != 'Ambala']

In [ ]:
Temp = Temp[Temp.City != 'Alwar']

In [ ]:
Temp = Temp[Temp.City != 'Aizwal']

In [ ]:
Temp = Temp[Temp.City != 'Alanya']

In [ ]:
Temp = Temp[Temp.City != 'Aksaray']

In [ ]:
Temp = Temp[Temp.City != 'Zunyi']

In [ ]:
Temp = Temp[Temp.City != 'Altay']

In [ ]:
Temp = Temp[Temp.City != 'Aksu']

In [ ]:
Temp = Temp[Temp.Country != 'Laos']

In [ ]:
Temp = Temp[Temp.Country != 'Uganda']

In [ ]:
Temp = Temp[Temp.Country != 'Burundi']

In [ ]:
Temp = Temp[Temp.Country != 'Kazakhstan']

In [ ]:
Temp = Temp[Temp.Country != 'Congo']

In [ ]:
Temp = Temp[Temp.Country != 'Jamaica']

In [ ]:
Temp = Temp[Temp.Country != 'Suriname']

In [ ]:
Temp = Temp[Temp.Country != 'Singapore']

In [ ]:
Temp = Temp[Temp.Country != 'Hong Kong']

In [ ]:
Temp = Temp[Temp.Country != 'Swaziland']

In [ ]:
Temp = Temp[Temp.Country != 'Saudi Arabia']
Temp

         Unnamed: 0          dt  AverageTemperature  ...  Country Latitude Longitude
0              3239  1743-11-01              10.013  ...   Turkey   40.99N    27.69E
1              3240  1743-12-01                 NaN  ...   Turkey   40.99N    27.69E
2              3241  1744-01-01                 NaN  ...   Turkey   40.99N    27.69E
3              3242  1744-02-01                 NaN  ...   Turkey   40.99N    27.69E
4              3243  1744-03-01                 NaN  ...   Turkey   40.99N    27.69E
...             ...         ...                 ...  ...      ...      ...       ...
2844647     8587515  2013-05-01              21.306  ...    China   36.17N   117.35E
2844648     8587516  2013-06-01              24.749  ...    China   36.17N   117.35E
2844649     8587517  2013-07-01              27.627  ...    China   36.17N   117.35E
2844650     8587518  2013-08-01              27.978  ...    China   36.17N   117.35E
2844651     8587519  2013-09-01                 NaN  ...    China   36.17N   117.35E

[2483531 rows x 8 columns]

In [ ]:
Temp.to_csv(r'C:\Users\surfb\OneDrive\Desktop\Temp_C2.csv', header=True)
print (Temp)

         Unnamed: 0          dt  AverageTemperature  ...  Country Latitude Longitude
0              3239  1743-11-01              10.013  ...   Turkey   40.99N    27.69E
1              3240  1743-12-01                 NaN  ...   Turkey   40.99N    27.69E
2              3241  1744-01-01                 NaN  ...   Turkey   40.99N    27.69E
3              3242  1744-02-01                 NaN  ...   Turkey   40.99N    27.69E
4              3243  1744-03-01                 NaN  ...   Turkey   40.99N    27.69E
...             ...         ...                 ...  ...      ...      ...       ...
2844647     8587515  2013-05-01              21.306  ...    China   36.17N   117.35E
2844648     8587516  2013-06-01              24.749  ...    China   36.17N   117.35E
2844649     8587517  2013-07-01              27.627  ...    China   36.17N   117.35E
2844650     8587518  2013-08-01              27.978  ...    China   36.17N   117.35E
2844651     8587519  2013-09-01                 NaN  ...    China   36.17N   117.35E

[2483531 rows x 8 columns]

In [ ]:
Temp.dropna()

         Unnamed: 0          dt  AverageTemperature  ...  Country Latitude Longitude
0              3239  1743-11-01              10.013  ...   Turkey   40.99N    27.69E
5              3244  1744-04-01              13.685  ...   Turkey   40.99N    27.69E
6              3245  1744-05-01              15.021  ...   Turkey   40.99N    27.69E
7              3246  1744-06-01              19.663  ...   Turkey   40.99N    27.69E
8              3247  1744-07-01              22.314  ...   Turkey   40.99N    27.69E
...             ...         ...                 ...  ...      ...      ...       ...
2844646     8587514  2013-04-01              13.517  ...    China   36.17N   117.35E
2844647     8587515  2013-05-01              21.306  ...    China   36.17N   117.35E
2844648     8587516  2013-06-01              24.749  ...    China   36.17N   117.35E
2844649     8587517  2013-07-01              27.627  ...    China   36.17N   117.35E
2844650     8587518  2013-08-01              27.978  ...    China   36.17N   117.35E

[2387195 rows x 8 columns]

In [ ]:
Temp.sample(30)

         Unnamed: 0          dt  ...  Latitude  Longitude
2357341     7284431  1915-11-01  ...    34.56N    116.76E
1212067     3463333  1921-02-01  ...    29.74N     75.69E
2676594     8327943  1872-08-01  ...    40.99N    115.03E
2725968     8404517  1873-10-01  ...    47.42N    129.08E
1298450     3641984  1929-06-01  ...    16.87N     78.70E
512632      1479495  1852-05-01  ...    23.31N     86.50E
522330      1510808  1927-12-01  ...    26.52N    112.84E
2822347     8549452  1999-07-01  ...    36.17N    119.34E
751631      2298757  1864-01-01  ...    26.52N     82.39E
2547373     7958525  1840-09-01  ...    37.78N     42.71E
1358607     3771163  1797-11-01  ...    21.70N     87.40E
1659730     4773768  1879-08-01  ...    36.17N     33.81E
2400081     7442063  2002-09-01  ...    37.78N    113.90E
1939625     5984435  1888-01-01  ...    31.35N     32.04E
2504993     7799671  1876-10-01  ...    13.66N     76.79E
1275763     3599418  1991-03-01  ...    31.35N     73.51E
2442882     7568230  1801-04-01  ...    29.74N     77.54E
1627949     4647534  1900-03-01  ...    37.78N     46.78E
502509      1455197  1937-12-01  ...    44.20N     87.20E
882511      2735004  1798-10-01  ...    24.92N     78.03E
924847      2812520  1922-08-01  ...    23.31N    116.21E
171378       443867  1931-12-01  ...    31.35N     33.93E
2430885     7523470  2010-01-01  ...    31.35N     33.93E
1261445     3559480  1846-06-01  ...    29.74N     75.69E
1661370     4805365  1814-07-01  ...    36.17N     45.75E
1220429     3471695  1906-07-01  ...    40.99N    112.90E
1743994     5094293  1924-09-01  ...    18.48N     77.75E
1637747     4676810  1958-02-01  ...    29.74N     53.54E
532787      1549759  1952-12-01  ...    42.59N    120.00E
1204406     3455672  1847-03-01  ...    36.17N    117.35E

[30 rows x 8 columns]

In [ ]:
Temp.drop(['Unnamed: 0', 'AverageTemperatureUncertainty'], axis=1)

                 dt  AverageTemperature     City Country Latitude Longitude
0        1743-11-01              10.013    Çorlu  Turkey   40.99N    27.69E
1        1743-12-01                 NaN    Çorlu  Turkey   40.99N    27.69E
2        1744-01-01                 NaN    Çorlu  Turkey   40.99N    27.69E
3        1744-02-01                 NaN    Çorlu  Turkey   40.99N    27.69E
4        1744-03-01                 NaN    Çorlu  Turkey   40.99N    27.69E
...             ...                 ...      ...     ...      ...       ...
2844647  2013-05-01              21.306  Zouxian   China   36.17N   117.35E
2844648  2013-06-01              24.749  Zouxian   China   36.17N   117.35E
2844649  2013-07-01              27.627  Zouxian   China   36.17N   117.35E
2844650  2013-08-01              27.978  Zouxian   China   36.17N   117.35E
2844651  2013-09-01                 NaN  Zouxian   China   36.17N   117.35E

[2483531 rows x 6 columns]

In [ ]:
Temp.to_csv(r'C:\Users\surfb\OneDrive\Desktop\TempR.csv', header=True)